.bodyTeamPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

.teamCard {
    font-family: BloodBowl;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    height: 70%;
    background-color: #e7e3da;
    display: flex;
    flex-direction: column;
}



.playersTable {
    width: 100%;
    border-collapse: collapse;
}

.playersTable td {
    width: auto;
    place-content: center;
}

.playersTable th,
.playersTable td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.playersTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.playersTable tr:hover {
    background-color: #f1f1f1;
}

.playerDetails {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.playerCard {
    flex-grow: 1;
    text-align: center;
}

.teamCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.buttonBack {
    font-family: BloodBowl;
    background-color: #B71418;
    color: white;
    border: solid 1px white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.buttonBack:hover {
    background-color: #830f11;
    transform: scale(1.05);
}

.editableRow {
    background-color: #f3f4f6;
    /* Light grey background */
    color: #333;
    /* Darker text color for better contrast */
}

.saveButton,
.cancelButton {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    border: none;
    cursor: pointer;
}



input[type="text"].editInput {
    width: 50px;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select,
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    background-color: #e7e3da;
}