body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.formCreateTeam {
    background-color: #E8DDC7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5)
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

select,
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    background-color: #e7e3da;

}

.buttonSubmit {
    font-family: BloodBowl;
    background-color: #B71418;
    color: white;
    border: solid 1px white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.buttonSubmit:hover {
    background-color: #830f11;
    transform: scale(1.05);
}

input:focus,
button:focus {
    outline: none;
    border-color: #B71418;
    box-shadow: 0 0 3px #B71418;
}

@media screen and (max-width: 600px) {
    .formRegister {
        width: 300px;
    }

    .buttonSubmit {
        font-size: 20px;
    }


}